# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#

# ===== BACKEND (Go) =====
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
!.github/workflows/coverage.yml
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum


# ===== FRONTEND (React) =====
node_modules/
dist/
.vite/
*.local


# ===== MISC =====
.env
.env.local
.DS_Store
*.log
.idea/
.vscode/